.title{
	display: flex;
	font-size: 48px;
	justify-content: space-around;
	align-items: center;
	background-color: purple;
}

.top-logo{
	height: 100px;

}

.input-description {
	height: 200px;
}

.container-form{
}

.inputs{
	display: none;
	flex-direction: column;
}

.btn-add-person{
	display: none;
}

.btn-add-restaurant{
	display: none;
}