body{
	/*background-color: rgba(10, 200, 214, 0.5);*/
		
}

button{
	background-color: rgb(245, 168, 24);
	height: 30px;
	border-radius: 5px;
	margin: 5px;
}

button:hover{
	background-color: rgba(10, 200, 214, 1);


}

.container-main{
	background-color: rgba(10, 200, 214, 0.5);
}

.title{
	display: flex;
	font-size: 48px;
	justify-content: space-around;
	align-items: center;
	/*background-color: rgba(10, 200, 214, 1);*/
	background-color: white;
	border: 5px black solid;
	font-family: 'Anton', sans-serif;

}

.top-logo{
	height: 100px;

}

.input-description {
	height: 50px;
}

.new-description {
	height: 50px;
}

.container-form{
	display: flex;
	justify-content: space-around;
	background-color: black;
	padding-bottom: 5px;

}

.inputs{
	display: none;
	flex-direction: column;
}

.btn-add-person{
	display: none;
}

.btn-add-restaurant{
	display: none;
}

.buttons {
	display: flex;
}

.container-data{
	display: flex;
	justify-content: space-around;
	margin: 20px;
	padding-bottom: 200px;
}

.users{
	width: 30%;
}

.restaurants{
	width: 30%;
}

.restaurant-profile-name, .user-profile-name{
	border: 2px black solid;
	border-radius: 5px;
	text-align: center;
	background-color: rgb(245, 168, 24);
}

.restaurant-profile-name, .user-profile-name, p {
	margin: 10px;
}

footer{
	background-color: rgb(245, 168, 24);
	padding: 10px;
}

